$black: #000000;
$optional: #dfe0e2ff;
$blue: #23b5d3ff;
$pr-blue: #75abbcff;
$t-blue: #a2aebbff;
$fadeblack: rgba(5, 5, 5, 0.9);
$gradient-top: linear-gradient(
  0deg,
  #071013ff,
  #23b5d3ff,
  #75abbcff,
  #a2aebbff,
  #dfe0e2ff
);
$gradient-right: linear-gradient(
  90deg,
  #071013ff,
  #23b5d3ff,
  #75abbcff,
  #a2aebbff,
  #dfe0e2ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #071013ff,
  #23b5d3ff,
  #75abbcff,
  #a2aebbff,
  #dfe0e2ff
);
$gradient-left: linear-gradient(
  270deg,
  #071013ff,
  #23b5d3ff,
  #75abbcff,
  #a2aebbff,
  #dfe0e2ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #071013ff,
  #23b5d3ff,
  #75abbcff,
  #a2aebbff,
  #dfe0e2ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #071013ff,
  #23b5d3ff,
  #75abbcff,
  #a2aebbff,
  #dfe0e2ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #071013ff,
  #23b5d3ff,
  #75abbcff,
  #a2aebbff,
  #dfe0e2ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #071013ff,
  #23b5d3ff,
  #75abbcff,
  #a2aebbff,
  #dfe0e2ff
);
$gradient-radial: radial-gradient(
  #071013ff,
  #23b5d3ff,
  #75abbcff,
  #a2aebbff,
  #dfe0e2ff
);

//fonts-family

$logo: "Sarina", cursive;
$heading: "Raleway", sans-serif;
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-thumb {
  background: $gradient-top;
  border-radius: 15rem;
}
::-webkit-scrollbar-thumb:hover {
  background: $gradient-radial;
  border-radius: 15rem;
}

* {
  list-style: none;
  outline: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background: $optional;
  z-index: 12;
  li {
    a {
      color: $black;
    }
  }
  .logo a {
    color: rgb(35, 131, 134);
  }
  .hamburger .fa {
    color: black;
  }

  li:hover {
    filter: drop-shadow(0rem 0rem 1rem rgb(0, 247, 255));

    a {
      color: white;
    }
  }
}
nav {
  background: rgba(5, 5, 5, 0.9);
  width: 100%;
  height: object-fit;
  justify-content: space-around;
  align-items: center;
  .logo {
    font-family: $logo;
    font-size: 2.1rem;
    a {
      color: $blue;
    }
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    // align-items: flex-end;
    font-size: 1.2rem;
    user-select: none;
    height: 100%;
    width: 30%;
    li {
      padding: 1rem;
      font-family: "Syncopate", sans-serif;
      font-weight: bolder;
      // border: 2px solid blue;
      &:hover {
        background-color: #17d8ffd5;
        // border-radius: 0.45rem;
        filter: drop-shadow(0 0 1rem #17d8ffd5);
      }
      &:hover a {
        color: $black;
      }
      a {
        padding: 5px;
        color: $optional;
      }
    }
  }
  .hamburger {
    color: $blue;
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
    .fa {
      color: $optional;
    }
  }
}
.active {
  nav {
    // active element
    ul {
      display: flex; 
      justify-content: space-evenly;
      align-items: center;
      font-size: 1.2rem;
      user-select: none;
      height: 92.5vh;
      width: 100%;
      flex-direction: column;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6rem;
        width: 60%;
        font-family: "Syncopate", sans-serif;
        font-weight: bolder;
        &:hover {
          border: 1px solid $pr-blue;
          border-radius: 5px;
          background-color: #17d8ffd5;
          filter: drop-shadow(0 0 1rem #17d8ffd5);
        }
      }
    }
  }
}
.container {
  height: 100vh;
  width: 100%;
  background-color: $black;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: "Syncopate", sans-serif;
  &::before {
    content: "";
    position: absolute;
    background: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: 0.52;
    // clip-path: ellipse(22rem 22rem at 89% 89%);
  }
  .hero_text {
    height: 20vh;
    width: 100%;
    color: white;
    position: relative;
    z-index: 5;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Syncopate", sans-serif;
    h4 {
      color: rgba(255, 255, 255, 0.774);
      font-size: 1.5rem;
    }
    h1 {
      font-size: 3rem;
      margin: 25px 0;
      span {
        color: $blue;
        font-family: $logo;
        font-family: "Zilla Slab Highlight", cursive;
        font-size: 4.2rem;
      }
    }
    .btngr {
      button {
        padding: 0.51rem;
        border-radius: 0.05rem;
        border: 2px solid $blue;
        cursor: pointer;
        font-size: 0.81rem;
        font-weight: bolder;
        transition: all 0.3s;
        font-family: "Syncopate", sans-serif;
      }
      .btn {
        color: $black;
        background: $blue;
        border: 2px solid $blue;
        &:hover {
          background: transparent;
          color: white;
        }
      }
      .btn2 {
        color: $optional;
        background: transparent;
        border: 2px solid $blue;
        &:hover {
          background: $gradient-top-left;
          color: black;
        }
      }
    }
  }
}
.thought {
  height: 50%;
  width: 100%;
  background: $optional;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Syncopate", sans-serif;

  h1 {
    color: $black;
    font-size: 4.5rem;
    font-weight: bolder;
    font-family: "Akronim", cursive;
    margin: 2rem 0;
    filter: drop-shadow(1rem 2.1rem 0.45rem black);
  }
  p {
    color: rgba(0, 0, 0, 0.916);
    font-size: 1.2rem;
  }
}
.about {
  height: 100vh;
  width: 100%;
  background: $fadeblack;
  position: relative;
  .top {
    width: 100%;
    height: 20%;
    background: violet;
    .cntnt {
      background: $fadeblack;
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      h6 {
        font-size: 1rem;
        color: $optional;
      }
      h2 {
        font-size: 4rem;
        font-family: "Audiowide", cursive;
      }
    }
  }
  .btm {
    background: salmon;
    width: 100%;
    height: 80%;
    // justify-content: space-around;
    // align-items: center;
    .left {
      background: sandybrown;
      width: 30%;
      height: 100%;
    }
    .right {
      width: 70%;
      height: 100%;
      background: rosybrown;
      .content {
        padding: 120px;
      }
    }
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  nav {
    .hamburger {
      color: $blue;
      font-size: 1.5rem;
      display: block;
    }
    ul {
      display: none;
    }
    .active.nav_links{
      display: block;
    }
  }
  .container {
    .hero_text {
      h4 {
        color: rgba(255, 255, 255, 0.774);
        font-size: 1.2rem;
      }
      h1 {
        font-size: 1.5rem;
        margin: 5px 0;
        span {
          color: #23b5d3ff;
          font-family: "Bungee Shade", cursive;
          font-size: 2.6rem;
        }
      }
    }
  }
  .thought {
    h1 {
      font-size: 1.8rem;
      font-family: "Akronim", cursive;
      filter: drop-shadow(1rem 1.5rem 0.2rem black);
    }
    p {
      color: rgba(0, 0, 0, 1);
      font-size: 0.7rem;
      padding: 0 1rem;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
