.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left bottom, left top, from(#071013ff), color-stop(#23b5d3ff), color-stop(#75abbcff), color-stop(#a2aebbff), to(#dfe0e2ff));
  background: linear-gradient(0deg, #071013ff, #23b5d3ff, #75abbcff, #a2aebbff, #dfe0e2ff);
  border-radius: 15rem;
}

::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(#071013ff, #23b5d3ff, #75abbcff, #a2aebbff, #dfe0e2ff);
  border-radius: 15rem;
}

* {
  list-style: none;
  outline: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background: #dfe0e2ff;
  z-index: 12;
}

.sticky li a {
  color: #000000;
}

.sticky .logo a {
  color: #238386;
}

.sticky .hamburger .fa {
  color: black;
}

.sticky li:hover {
  -webkit-filter: drop-shadow(0rem 0rem 1rem #00f7ff);
          filter: drop-shadow(0rem 0rem 1rem #00f7ff);
}

.sticky li:hover a {
  color: white;
}

nav {
  background: rgba(5, 5, 5, 0.9);
  -webkit-filter: drop-shadow(0px -8px 1rem #17d8ffd5);
          filter: drop-shadow(0px -8px 1rem #17d8ffd5);
  width: 100%;
  height: object-fit;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  font-family: "Sarina", cursive;
  font-size: 2.1rem;
}

nav .logo a {
  color: #23b5d3ff;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100%;
  width: 30%;
}

nav ul li {
  padding: 1rem;
  font-family: "Syncopate", sans-serif;
  font-weight: bolder;
}

nav ul li:hover {
  background-color: #17d8ffd5;
  -webkit-filter: drop-shadow(0 0 1rem #17d8ffd5);
          filter: drop-shadow(0 0 1rem #17d8ffd5);
}

nav ul li:hover a {
  color: #000000;
}

nav ul li a {
  padding: 5px;
  color: #dfe0e2ff;
}

nav .hamburger {
  color: #23b5d3ff;
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
}

nav .hamburger .fa {
  color: #dfe0e2ff;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 92.5vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.active li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  width: 60%;
  font-family: "Syncopate", sans-serif;
  font-weight: bolder;
}

.active li:hover {
  border: 1px solid #75abbcff;
  border-radius: 5px;
  background-color: #17d8ffd5;
  -webkit-filter: drop-shadow(0 0 1rem #17d8ffd5);
          filter: drop-shadow(0 0 1rem #17d8ffd5);
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #000000;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Syncopate", sans-serif;
}

.container::before {
  content: "";
  position: absolute;
  background: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: screen;
  z-index: 1;
  height: 100%;
  width: 100%;
  opacity: 0.52;
}

.container .hero_text {
  height: 20vh;
  width: 100%;
  color: white;
  position: relative;
  z-index: 5;
  text-align: center;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Syncopate", sans-serif;
}

.container .hero_text h4 {
  color: rgba(255, 255, 255, 0.774);
  font-size: 1.5rem;
}

.container .hero_text h1 {
  font-size: 3rem;
  margin: 25px 0;
}

.container .hero_text h1 span {
  color: #23b5d3ff;
  font-family: "Sarina", cursive;
  font-family: "Zilla Slab Highlight", cursive;
  font-size: 4.2rem;
}

.container .hero_text .btngr button {
  padding: 0.51rem;
  border-radius: 0.05rem;
  border: 2px solid #23b5d3ff;
  cursor: pointer;
  font-size: 0.81rem;
  font-weight: bolder;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Syncopate", sans-serif;
}

.container .hero_text .btngr .btn {
  color: #000000;
  background: #23b5d3ff;
  border: 2px solid #23b5d3ff;
  margin-right: -10.9px;
}

.container .hero_text .btngr .btn:hover {
  background: transparent;
  color: white;
}

.container .hero_text .btngr .btn2 {
  color: #dfe0e2ff;
  background: transparent;
  border: 2px solid #23b5d3ff;
}

.container .hero_text .btngr .btn2:hover {
  background: linear-gradient(225deg, #071013ff, #23b5d3ff, #75abbcff, #a2aebbff, #dfe0e2ff);
  color: black;
}

.thought {
  height: 40%;
  width: 100%;
  background: #dfe0e2ff;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Syncopate", sans-serif;
}

.thought h1 {
  color: #000000;
  font-size: 4.5rem;
  font-weight: bolder;
  font-family: "Akronim", cursive;
  -webkit-filter: drop-shadow(0rem 0rem 2rem #17d8ffd5);
          filter: drop-shadow(0rem 0rem 2rem #17d8ffd5);
}

.thought p {
  color: rgba(0, 0, 0, 0.916);
  font-size: 1.2rem;
  font-weight: bolder;
}

.about {
  height: 100vh;
  width: 100%;
  background: rgba(5, 5, 5, 0.9);
}

.about .top {
  width: 100%;
  height: 20%;
  background: violet;
  background: rgba(5, 5, 5, 0.9);
  border-bottom: 0.1px solid rgba(114, 123, 131, 0.916);
}

.about .top .cntnt {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.about .top .cntnt h6 {
  font-size: 1rem;
  color: #dfe0e2ff;
}

.about .top .cntnt h2 {
  font-size: 4rem;
  font-family: "Audiowide", cursive;
  color: #17d8ffd5;
}

.about .btm {
  background: rgba(5, 5, 5, 0.9);
  width: 100%;
  height: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .btm .left {
  width: 30%;
  height: 80%;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 2rem;
}

.about .btm .left img {
  border-radius: 1rem;
  overflow: hidden;
  opacity: 0.8;
  width: 90%;
  height: 100%;
  position: absolute;
  z-index: 2222;
  right: 10px;
}

.about .btm .left img:hover {
  background-size: 120%;
  opacity: 1;
  -webkit-filter: drop-shadow(-2px 0px 1rem #17d8ffd5);
          filter: drop-shadow(-2px 0px 1rem #17d8ffd5);
}

.about .btm .right {
  width: 70%;
  height: 100%;
  background: rgba(5, 5, 5, 0.9);
  margin-top: 2rem;
}

.about .btm .right .content {
  color: #eedcdc;
  background: rgba(5, 5, 5, 0.9);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .btm .right .content p {
  padding-left: 2rem;
  font-size: 1.2rem;
  color: #d9d7e4;
}

.about .btm .right .content .prdetails {
  background: rgba(5, 5, 5, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .btm .right .content .prdetails .name {
  width: 100%;
  font-size: 1.5rem;
  padding-left: 2rem;
}

.about .btm .right .content .prdetails .name .first {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 15%;
}

.about .btm .right .content .prdetails .name .first .fa {
  font-size: 1rem;
  color: #17d8ffd5;
}

.about .btm .right .content .prdetails .name .second {
  cursor: pointer;
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
  color: #e5e2e2;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  nav .hamburger {
    color: #23b5d3ff;
    font-size: 1.5rem;
    display: block;
  }
  nav ul {
    display: none;
  }
  .container .hero_text h4 {
    color: rgba(255, 255, 255, 0.774);
    font-size: 1.2rem;
  }
  .container .hero_text h1 {
    font-size: 1.5rem;
    margin: 5px 0;
  }
  .container .hero_text h1 span {
    color: #23b5d3ff;
    font-family: "Bungee Shade", cursive;
    font-size: 2.6rem;
  }
  .thought h1 {
    font-size: 1.8rem;
    font-family: "Akronim", cursive;
    -webkit-filter: drop-shadow(1rem 1.5rem 0.2rem black);
            filter: drop-shadow(1rem 1.5rem 0.2rem black);
  }
  .thought p {
    color: black;
    font-size: 0.7rem;
    padding: 0 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
