@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Diplomata&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
}

body a {
  color: black;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: rgba(5, 5, 5, 0.9);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .hdtxt {
  min-width: 100%;
  min-height: 10vh;
}

.projects .hdtxt::before {
  position: absolute;
  content: "projects";
  color: #17d8ffd5;
  font-size: 8em;
  font-family: 'Diplomata', cursive;
  left: 25%;
  z-index: 0;
  opacity: 0.1;
}

.projects .hdtxt h1 {
  font-family: "Syncopate", sans-serif;
  color: #fff;
  font-size: 3em;
  margin-left: 0.58em;
}

.projects .container1 {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .container1 .card {
  position: relative;
  margin: 15px 0;
  height: 200px;
  width: 300px;
}

.projects .container1 .card:hover .face.face1 {
  -webkit-transform: translateY(-100%) rotateX(90deg);
          transform: translateY(-100%) rotateX(90deg);
  background: #17d8ffd5;
}

.projects .container1 .card:hover .face.face2 {
  -webkit-transform: translateY(0) rotateX(0);
          transform: translateY(0) rotateX(0);
}

.projects .container1 .card .face {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects .container1 .card .face.face1 {
  background: #dfe0e2ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.projects .container1 .card .face.face1 img {
  max-width: 100px;
}

.projects .container1 .card .face.face1 h2 {
  margin: 10px 0 0;
  color: rgba(5, 5, 5, 0.9);
  text-align: center;
  font-size: 1.5em;
}

.projects .container1 .card .face.face2 {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: translateY(100%) rotateX(90deg);
          transform: translateY(100%) rotateX(90deg);
}
